<div class="row">
  <div class="col-4">
    <header style="height: 30px;">
      <app-placeholder></app-placeholder>
    </header>
    <section class="mt-2" style="height: 70px;">
      <app-placeholder></app-placeholder>
    </section>
  </div>

  <div class="col-4">
    <header style="height: 30px;">
      <app-placeholder></app-placeholder>
    </header>
    <section class="mt-2" style="height: 70px;">
      <app-placeholder></app-placeholder>
    </section>
  </div>

  <div class="col-4">
    <header style="height: 30px;">
      <app-placeholder></app-placeholder>
    </header>
    <section class="mt-2" style="height: 70px;">
      <app-placeholder></app-placeholder>
    </section>
  </div>
</div>
