  <ng-container *ngIf="loading; else loaded">
    <app-announcement-placeholder></app-announcement-placeholder>
  </ng-container>

  <ng-template #loaded>
    <ng-container *ngFor="let announcement of announcements">
      <div class="announcement">

        <div class="announcement-items">
          <span class="badge badge-primary">{{announcement.creator.name}}</span><br>
          <!-- <img src="./assets/img_placeholder.png" alt="placeholder" class="img-fluid"> -->
          <header>{{announcement.subject}}</header>
          <hr>
          <section class="announcement-detail text-break">
            {{announcement.information}}
          </section>
        </div>
      </div>
    </ng-container>
  </ng-template>
