<footer>
    <div class="header position-relative">
        <div id="particles-js" class="w-100 h-100 position-absolute"></div>
        
        <div class="header-detail position-relative">
            <p>
                Prototyping, Mobile Applications, Java, JavaScript, Web Development, CSS, R&D, Android, HTML,
                PHP, Python, Full Stack, Labs, UI
            </p>
        </div>
    </div>
    <div class="content row m-0">
        <div class="col-sm-6 col-md-3">
            Welcome to <br>
            New Minified Messier
        </div>
        <div class="col-sm-6 col-md-3">
            Kyai H. Syahdan No.9 <br>11480 Kemanggisan
        </div>
        <div class="col-sm-6 col-md-3">
            +46 (0) 8 400 246 64
        </div>
        <div class="col-sm-6 col-md-3">
            &copy; 2019
        </div>
    </div>
</footer>
