<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-section py-1 d-flex flex-column-reverse">
        <input type="text" class="form-section-input" required formControlName="username">
        <label for="initial" class="label">Initial</label>
    </div>
    <div class="form-section py-1 d-flex flex-column-reverse">
        <input type="password" class="form-section-input" required  formControlName="password">
        <label for="password" class="label">Password</label>
    </div>

    <div class="d-flex justify-content-center mt-4">
        <button type="submit" class="btn form-submit btn-primary mx-auto">Log in</button>
    </div>
</form>