<div class="row">
  <div class="col-md-3" style="height: 56px;">
    <app-placeholder></app-placeholder>
  </div>
  <div class="col-md-3" style="height: 56px;">
    <app-placeholder></app-placeholder>
  </div>
  <div class="col-md-3" style="height: 56px;">
    <app-placeholder></app-placeholder>
  </div>
  <div class="col-md-3" style="height: 56px;">
    <app-placeholder></app-placeholder>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-3" style="height: 56px;">
    <app-placeholder></app-placeholder>
  </div>
  <div class="col-md-3" style="height: 56px;">
    <app-placeholder></app-placeholder>
  </div>
  <div class="col-md-3" style="height: 56px;">
    <app-placeholder></app-placeholder>
  </div>
  <div class="col-md-3" style="height: 56px;">
    <app-placeholder></app-placeholder>
  </div>
</div>
