/* You can add global styles to this file, and also import other style files */
@import './constant.scss';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import './assets/css/font-awesome.min.css';

@font-face {
    src: url(./assets/fonts/Lato-Black.ttf);
    font-family: "fnbasic";
}

@font-face {
    src: url(./assets/fonts/Lato-Regular.ttf);
    font-family: "fnbasicRegular";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(241, 241, 241);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $colorPrimary
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $colorPrimaryDark;
}


body {
    font-size: 14px;
    height: 100vh;
}

.t-1 {
    font-size: 1rem;
}

.t-2 {
    font-size: 1.5rem;
}

.t-3 {
    font-size: 2rem;
}

.t-4 {
    font-size: 2.5rem;
}
.fixed-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hover {
    cursor: pointer;
}

a:hover {
    text-decoration: none !important;
}

.m-container {
    padding-left: 2rem;
    padding-right: 2rem;
}
.content {
    padding: 0 3rem;
}
.color-primary{
    color: $colorPrimary!important;
}
.m-bg-primary{
    background-color: $colorPrimary;
}

@media screen and (max-width :$mobilePx){
    .content{
        padding: 0 2rem;
    }
}